.container {
  display: flex;
  justify-content: space-evenly;
}

.page_title > p {
  margin-top: -15px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: white;

}

.channel_box {
  background-color: #282830;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 45px;
  padding-top: 38px;
}

.header {
  display: flex;
  justify-content: center;
}

.header_img {
  height: 150px;
  overflow: hidden;
}

.header_img > img {
  width: 715px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.user_info {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
}

.user_pic {
}
.user_pic > img {
  width: 95px;
  border-radius: 50%;
  margin-top: -35px;
 /* margin-left: 226px; */
  border-style: solid;
  box-shadow: -3px -5px 10px 5px black;
}

.channel_info {
 /* margin-left: 194px; */
}

.channel_info > h5 {
  font-size: 20px;
  color: #f9f7f7;
  margin: 22px;

}


app-video-channel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

hr {
  width: 100%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3a3c3d;
  border: 0 none;
  margin-bottom: 20px;
}



.sidebar{
  margin-left: 50px;
  margin-top: 32px;
}
