.container {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}

.header > img {
  width: 515px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.user_info {
  display: flex;
  align-items: center;
  margin-top: -34px;
}
.user_pic > img {
  width: 95px;
  border-radius: 50%;
  position: absolute;
  margin-top: -65px;
  margin-left: 29px;
  border-style: solid;
  box-shadow: -3px -5px 10px 5px black;
}

.channel_info {
  margin-left: 143px;
}

.channel_info > h5 {
  margin-top: 38px;
}
