.container {
  display: flex;
  flex-direction: column;

}

.page_title > p {
  margin-top: -15px;
}

.channel_box {
  background-color: #282830;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 45px;
  width: auto;
}

.header_img {
  height: 150px;
  overflow: hidden;
}

.header_img > img {
  width: 715px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.user_info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.user_pic > img {
  width: 95px;
  border-radius: 50%;
  position: absolute;
  margin-top: -63px;
  margin-left: 29px;
  border-style: solid;
  box-shadow: -3px -5px 10px 5px black;
}

.channel_info {
  margin-left: 143px;
}

.channel_info > h5 {
  margin-top: 5px;
  font-size: 20px;
  color: #f9f7f7
}

app-video-channel {
  display: flex;
  flex-wrap: wrap;

}
