.container {
  display: flex;
  flex-direction: column;
  color: #b5b5be;
}

img {
  width: 200px;
  border-bottom: 2px solid #2b2b34;}

ul {
  display: flex;
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 13px;
  flex-direction: column;
}
li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 19px;
  margin-left: 10px;
}

a {
  color: #b5b5be;
  text-decoration-line: none;
  font-size: 10px;
  margin-left: 20px;
}

.tags {
  font-size: 9px;
  margin-left: 20px;
  color: #94949f;
  font-weight: bold;
}

