.container {
  display: flex;
  flex-direction: column;
  color: #b5b5be;
  width: 222px;
  .menu {
    padding-bottom: 10px;
    color: #b5b5be;
    text-decoration-line: none;
    font-size: 10px;

    &.active, &:hover {
      color: white;
      border-left: solid white;
      cursor: pointer

    }
  }
}

img {
  width: 200px;
  }

.logo {
  border-bottom: 2px solid #2b2b34;
  margin-bottom: 15px;
}

fa-icon {
  font-size: 15px;
  margin-right: 14px;
}

ul {
  display: flex;
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 0;
  flex-direction: column;

}
li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-left: 22px;
}

p, .tags{
  font-size: 9px;
  margin-left: 20px;
  color: #94949f;
  font-weight: bold;
}

app-tag {
  margin: 3px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  color: #f9f9fa;
  font-weight: normal;
  border-radius: 13%;
  
}

.limitHeight {
  height: 222px;
  overflow: hidden;
}

.more_tags {
  display:flex;
  justify-content: center;
  width: 80px;
  padding: 10px;
  margin-left: 31%;
  margin-top: 15px;
  color: #b5b5be;
  font-size: 10px;
  background-color: #282830;
  border-radius: 5px;

  &.active, &:hover {
    color: white;
    cursor: pointer;
  }
}

.translate {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  font-size: small;

  &:hover {
    color: white;
    cursor: pointer;
  }
}
