<div class="container">
  <div class="logo">
  <img src="assets/logo/uploadlogo.png" alt="uplog">
  </div>
  <div class="box1">
  <ul>
    <a class="menu" routerLink="home" routerLinkActive="active">
    <li><fa-icon [icon]="faHome"></fa-icon>Home</li>
    </a>
    <a class="menu" routerLink="channels" routerLinkActive="active">
    <li><fa-icon [icon]="faChannels"></fa-icon>Channels</li>
    </a>
    <a class="menu" routerLink="thematics" routerLinkActive="active">
    <li><fa-icon [icon]="faThemedArticles"></fa-icon>Themed Articles</li>
    </a>
    <a class="menu" routerLink="playlists" routerLinkActive="active">
    <li><fa-icon [icon]="faPlaylists"></fa-icon>Playlists</li>
    </a>
  </ul>
  <p>TAGS</p>
  </div>
  <div class="tags" [ngClass]="{'limitHeight': isMoreTags}">
    <app-tag  *ngFor="let tag of tags" [tags]="tag.name" [id_tag]="tag.id_tag" [routerLink]="['/tagvideos', tag.id_tag]"></app-tag>
  </div>
  <div class="more_tags" >
    <a (click)="moreTags()">{{ isMoreTags ? 'More Tags': 'Less Tags' }}</a>
  </div>
  <div class="translate">
    <a (click)="multilingualclick(en)">pt/en</a>
  </div>
</div>
