.videoslist {
  width: 440px;
  height: 700px;
  overflow: hidden;
  overflow-y: auto;
  float: right;
  display: block;
 /* list-style-type: decimal; */
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  scrollbar-arrow-color: grey;
}
.playlist:hover {
  background-color: #2f2f2f;
  border-radius: 10px;
}
/* display: flex;
  flex-direction: column;
  height: 700px;
  width: 400px;
  overflow: scroll;
  scrollbar-base-color: #2b2b34;
  border: 2px solid #3a3c3d; */


.videoview {
  display: flex;
}

.oneisall {
  display: flex;
  flex-direction: row-reverse;
}

img{
  width: 40%;
  padding: 5px;
  border-radius: 25px;
}

/*.vpnumber{
  display: flex;
  font-size: 1.40em;
  color: #94949f;
  margin-left: 8px;
} */

.playlist{
  /* display: flex;

  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; */
 /* display: list-item;
  text-align: -webkit-match-parent; */
  display: flex;

}

::-webkit-scrollbar {
  width: 8px;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

h5{
  display: flex;

}

::marker{
  color: transparent;
}
