<div class="box">
  <div class="header">
    <img alt="header" class="header_img" [src]="url + thematics.header">
    <div class="name_box">
      <h4 class="name">  {{thematics.title}} </h4>
    </div>
  </div>
  <div class="box2">
    <div class="description">
      {{thematics.description}}
    </div>
    <div class="userPic">
      <img alt="pic" class="user_pic" [src]="url + thematics.picture">
    </div>
  </div>
  <br>
  <hr>
  <div class="videoBox">
    <p class="videos_title">Videos</p>
    <div class="videos">
    </div>
  </div>
</div>

<h6 *ngFor="let vt of videosthematics">{{vt.name}}</h6>
