<div class="box">
  <div class="header">
    <img alt="header" class="header_img" [src]="url + thematics.header">
    <div class="name_box">
      <h4 class="name">  {{thematics.title}} </h4>
    </div>
  </div>
  <div class="box2">
    <div class="description">
      {{thematics.description}}
    </div>
    <div class="links">
      <p>Referencial Links:</p>
      <div class="link" *ngFor="let link of links, let i = index">
        <a [href]="link | safe">{{linksname[i]}}</a>
      </div>
    </div>
    <br>
    <hr>
    <div class="videoBox">
      <p class="videos_title">Videos</p>
      <div class="videos">
        <app-video *ngFor="let vt of videosthematics"
                   [thumbnail]="vt.thumbnail"
                   [user_pic]="vt.picture"
                   [title]="vt.name"
                   [id_video]="vt.id_video"
                   [id_channel]="vt.id_channel">

        </app-video>
      </div>
    </div>
  </div>
</div>
