.rec-article {
  display: flex;
  flex-direction: column;
  color: #b5b5be;
  width: 250px;
  background-color: #1c1c24;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 20px;
}
.title_more{
  padding: 9px;
  border-bottom: 2px solid #2b2b34;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #f9f9fa;
  text-decoration-line: none;
  font-size: 10px;
  margin-left: 10px;
  font-style: normal;
}

.see_all {
  margin-bottom: 4px;
  margin-right: 8px;
}
.see_all > a {
  color: #b5b5be;
  font-size: 10px;
  text-decoration-line: none;

  &.active, &:hover {
    color: white;
  }
}

.info {
  display: flex;
  align-items: center;
  margin-top: 10px;


}
.info > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 15px;
}

.text {
  margin-left: 8px;
}

h4 {
  font-size: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #f9f9fa;
  font-weight: 100;
}

h5 {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 9px;
  color: #91919c;
}

.thematic_pic {
  border-radius: 15px;
  width: 227px;
  margin-left: 12px;
  margin-bottom: 14px;
  margin-top: 10px;
}
