<div class="all">
  <div class="contenido">
    <div class="page_title">
      <p>{{themelang === "en" ? "THEMATICS" : "ARTIGOS TEMÁTICOS"}}</p>
      <hr>
    </div>
    <div class="container">
      <div class="thematic_box" *ngFor="let theme of thematics" [routerLink]="['/thematic', theme.id_thematic]">
        <div class="thematic_info">
          <h5>{{theme.title}}</h5>
        </div>
        <div class="header">
          <img src="{{url + theme.header}}" alt="header">
        </div>
      </div>
    </div>
  </div>
  <div class="recposi">
    <app-rec-channels></app-rec-channels>
  </div>
</div>
