
p {
  margin-top: -15px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
}

.header > img {
  width:  475px;
  height: 180px;
  object-fit: cover;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: -7px;
}


.thematic_info {
  display: flex;
  justify-content: center;
}

.thematic_info > h5 {
  margin-top: 38px;
}

.thematic_box {
  background-color: #2b2b34;
  border-radius: 20px;
  margin-top: 50px;
  width: 475px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

hr {
  width: 100%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3a3c3d;
  border: 0 none;
  margin-bottom: 20px;
}

.alltoguether {
  display: flex;
  justify-content: space-evenly;
}

.recposi {
  padding-left: 50px;
  padding-top: 32px;
}
