

.detail {
  margin: 20px;
  max-width: 650px;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #fbfbfc;
}

.title p {
  margin-bottom: 10px;
}

.tags_flag {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
fa-icon {
  color: #b5b5be;
  margin: 14px;
  opacity: 40%;
}
.thumbnail iframe {
  border-radius: 3%;
  width:-webkit-fill-available;
}

.img_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.userpic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px lightgray;
}
.info {
  margin-left: 10px;
  padding: 8px;
}

.channel {
  font-family: system-ui;
  font-size: 14px;
  margin-bottom: -5px;
  margin-top: 5px;
}

.timeAgo {
  font-family: system-ui;
  font-size: 10px;
  color: #92929d;
}
.user_likes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.tags {
  font-size: 10px;
  color: #1e76fe;
  font-weight: 100;
}

.description {
  background-color: #1c1c24;
  border-radius: 3%;

    p {
      font-size: 13px;
      padding: 25px;
      line-height: 22px;    }
}

iframe{
  border-radius: 10px;
  width: 560px;
  height: 315px;
  border: 0;
}

@media screen and (max-width: 480px) {
  .detail {
    scale: 129%;
    margin-top: -365px;
    margin-left: -271px;
  }
}
