<div class="detail" *ngIf="videos">
  <div class="title">
    <p>{{videos.name}}</p>
    <div class="tags_flag">
      <div class="tags">
        <a>#{{videos.tags}}</a>
          </div>
          <div class="flag">
        <fa-icon class="fa-spin" [icon]="faFlag"></fa-icon>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="thumbnail">
    <iframe [src]=" videos.url | safe" allowfullscreen></iframe>
  </div>
  <div class="user_likes">
    <div class="img_info">
    <img class="userpic" [src]="url + videos.picture" alt="user">
     <div class="info">
        <p class="channel">{{videos.field_channel_1}}</p>
        <p class="timeAgo">{{videos.created}}</p>
      </div>
    </div>

    <div class="likes">
      <fa-icon [icon]="faThumbsUp"></fa-icon>
      <span> | </span>
      <fa-icon [icon]="faThumbsDown"></fa-icon>
    </div>
  </div>
  <div class="description">
    <p>{{videos.description}}</p>
  </div>
</div>

