<div class="comments_box">
  <h4>Comments</h4>
 <div class="form">
  <div class="comment_info">
    <img class="user" src="assets/user.png" alt="user">
    <form class="info" #commentsForm="ngForm" (ngSubmit)="postComents(commentsForm)">
      <div class="user_info">
      <input type="text" ngModel  name="name" id="name" placeholder="Name" >
      <input type="text" ngModel name="email" id="email" Placeholder="Email">
      </div>
      <div class="textfield">
      <input type="text" ngModel  name="comment" id="message" placeholder="Message">
      </div>
      <br>
      <div class="submit">
      <button class="button" type="submit" value="submit">Submit Comment</button>
      </div>
    </form>
  </div>
  <div class="comments" *ngFor="let c of commentInfo">
    <img class="user1" src="assets/user.png" alt="user">
    <div class="examples">
      <div class="examples1">
        <div class="comment_name">{{c.field_your_name}}</div>
        <div class="timeago">{{c.created}}</div>
      </div>
      <div class="comment_text"> {{c.text}}</div>
    </div>


    </div>
  </div>
</div>

