<div class="container">
  <div class="container2">
<div class="videos" >
  <app-video *ngFor="let video of videos.slice(0, page * 8)"
  [thumbnail]="video.thumbnail"
  [user_pic]="video.picture "
  [channel]="video.field_channel_1"
  [title]="video.name"
  [time_ago]="video.created"
  [id_video]="video.id_video"
  [id_channel]="video.id_channel">
  </app-video>
</div>
  <div class="show_more" >
    <a (click)="showMore()">Show More</a>
  </div>
</div>
  <div class="sidebar">
  <app-rec-channels></app-rec-channels>
  <app-rec-article></app-rec-article>
  </div>
</div>

