<div class="videos">
  <app-video *ngFor="let video of videos"
  [thumbnail]="url + video.thumbnail"
  [user_pic]="url + video.picture"
  [channel]="video.field_channel_1"
  [title]="video.name"
  [time_ago]="video.created">

  </app-video>
</div>


<!--  <iframe *ngFor="let video-channel of videos" [src]="video-channel.field_media_oembed_video | safe"></iframe>
  <img *ngFor="let video of videos" [src]="baseURL + video.thumbnail__target_id" [routerLink]="['/video', video.id_video]" alt="thumbnails">
</div>
-->
