.container{
  display: flex;

  color: lightgray;
  background-color: #13131a;
}


.router{
  background-color: #13131a;
  padding: 50px;
  height: fit-content;

}

@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 480px;
  }
  .router {
    scale: 40%;

  }
  }

