
.container{
  display: flex;
  min-height: 1024px;
  color: lightgray;
  background-color: #13131a;
}

.navbar{
  background-color: #1c1c24;
  border-right: 2px solid #2b2b34;
}

.router{
  background-color: #13131a;
}
