<div class="videobox" >
  <div class="box1">
  <img class="thumbnail" alt="thumbnail" src="{{url + thumbnail}}" [routerLink]="['/video', id_video]">
    <div class="user_icons">
      <div class="channel_pic">
    <img class="user_pic" alt="user_pic" src="{{url + user_pic}}" [routerLink]="['/channel', id_channel]">
      </div>
      <div class="icons">
        <div class="fav" (click)="toggleFavorito">
          <fa-icon [icon]="faShare"></fa-icon>
          <fa-icon [icon]="isFavorito ? faBookmarkSolid : faBookmark"></fa-icon>
        </div>
      </div>
    </div>

</div>
  <div class="box2">
  <div class="channel">{{channel}}</div>
    <div class="title" [routerLink]="['/video', id_video]">{{title}}</div>
    <div class="timeago">{{time_ago}}</div>
</div>
</div>
