.videobox {
  display: flex;
  flex-direction: column;
  border-radius: 6%;
  background-color: #1c1c24;
  height: 374px;
  justify-content: space-between;

}
.videobox, .box1, .box2 {
  max-width: 350px;
}
.thumbnail {
  width: 350px;
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;

}
.user_icons {
  position: relative;
}

.user_pic {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  position: absolute;
  border-style: solid;
  bottom: -17px;
  left: 266px;

}


.box2 {
  margin: 8px 16px 16px;
  height: 86px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.channel {
  font-size: 10px;
  color: #1e76fe;
  font-weight: 100;
}

.title {
  margin-bottom: 6px;
  margin-top: 7px;
  color: #fbfbfc;
  font-size: 13px;
}

.timeago {
  font-family: system-ui;
  font-size: 10px;
  color: #92929d;
}
