.header > img {
  width: 817px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 280px;
}

.header {
  position: relative;
  overflow: hidden;
  height: 231px;
  border-bottom-color: #13131a;
}

h4 {
  color: white;
  margin-left: 10px;
}
.name {
  color: white;
  margin-top: -79px;
  margin-left: 30px;
}
.name_box{
  margin-top: -8px;
  position: absolute;
	box-shadow: 62px -2px 31px 129px #13131a;
	width: 100%;
}

.box2{
      margin-top: 18px;
      margin-left: 30px;
}

.user_pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  border-style: solid;
  left: 934px;
  top: 129px;
}

.description{
  font-size: 10px;
  color: white;
  margin-top: -19px;
  max-width: 715px;
}

app-video-channel {
  display: flex;
  flex-wrap: wrap;

}

.videos_title{
  margin-left: 10px;
  color: white;
}


hr {
  width: 100%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3a3c3d;
  border: 0 none;
}

.user{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 272px;

}
.user1{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: 272px;

}
.info {
  margin-left: 80px;
}
#name {
  margin-left: 10px;
  border-bottom-color: #e3e2e2;
  outline: 0;
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  width: 250px;
}

#email {
  margin-left: 10px;
  border-bottom-color: #e3e2e2;
  outline: 0;
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  width: 440px;
}

#message {
  margin-left: 10px;
  border-bottom-color: #e3e2e2;
  outline: 0;
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  width: 700px;
}

.submit {
  margin-top: 44px;
  margin-left: 500px;
}

.examples {
  margin-left: 80px;
  margin-top: 26px;
}
.comment_name{
  color: white;
  font-size: 14px;
}
.timeago{
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: 60px;
  font-size: 12px;
  color: grey;
}

.comment_text {
  color: white;
  font-size: 12px;
  margin-top: 15px;
}



.button{
  background-color: transparent;
  border: 1px solid;
  height: 28px;
  width: 160px;
  color: #CCC;
  border-radius: 18px;
  margin-left: 134px;
}

input {
  color: white;
  height: 40px;
}
