.header_img {
  width: 817px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 280px;
}

.header {
  position: relative;
  overflow: hidden;
  height: 231px;
  border-bottom-color: #13131a;
}

h4 {
  color: white;
  margin-left: 10px;
}
.name {
  color: white;
  margin-top: -79px;
  margin-left: 30px;
}
.name_box{
  margin-top: -8px;
  position: absolute;
	box-shadow: 62px -2px 31px 129px #13131a;
	width: 100%;
}

.box2{
      margin-top: 18px;
      margin-left: 30px;
}

.user_pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  border-style: solid;
  left: 934px;
  top: 129px;
}

.description{
  font-size: 10px;
  color: white;
  margin-top: -19px;
  max-width: 715px;
}

app-video-channel {
  display: flex;
  flex-wrap: wrap;

}

.videos_title{
  margin-left: 10px;
  color: white;
}


hr {
  width: 100%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3a3c3d;
  border: 0 none;
}

