<div class="box">
  <div class="header">
    <img alt="header" class="header_img" [src]="url + channels.field_header">
    <div class="name_box">
      <h4 class="name">  {{channels.user}} </h4>
    </div>
  </div>
  <div class="box2">
  <div class="description">
    {{channels.description}}
  </div>
  <div class="userPic">
    <img alt="pic" class="user_pic" [src]="url + channels.picture">
  </div>
  </div>
  <br>
  <hr>
  <div class="videoBox">
    <p class="videos_title">Videos</p>
    <div class="videos">
    <app-video-channel [id_channel]="id_channel"></app-video-channel>

    </div>
  </div>

  <app-comments [id_channel]="id_channel"></app-comments>

</div>
