.rec_channels {
  display: flex;
  flex-direction: column;
  color: #b5b5be;
  width: 222px;
  background-color: #1c1c24;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 20px;
}
.title{
  padding: 9px;
  border-bottom: 2px solid #2b2b34;
}
  p {
    color: #b5b5be;
    text-decoration-line: none;
    font-size: 10px;
    margin-left: 10px;
  }

  .channels {
    margin-top: 15px;
  }
 .list{
   display: flex;
   align-items: center;
   color: #b5b5be;
   text-decoration-line: none;
   font-size: 10px;
   margin-left: 20px;
   margin-bottom: 15px;

    &.active, &:hover {
      color: white;
    }
}

 img {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   margin-right: 10px;

 }

 .limitHeight {
   height: 222px;
   overflow: hidden;
 }

 .show_more {
   display:flex;
   justify-content: center;
   padding: 10px;
   color: #b5b5be;
   font-size: 10px;
   background-color: #282830;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
 }
