@import 'assets/scss/modules/fonts';

$primary_font: 'nominee-regular';

// font-weight
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;

* {
  box-sizing: border-box;
}
body{
  font-family: $primary_font;
  font-weight: $regular;
  margin: 0;
  height: 100%;

}
