.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header > img {
  width:  475px;
  height: 180px;
  object-fit: cover;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: -7px;
}


.channel_info {
  margin-left: 143px;
}

.channel_info > h5 {
  margin-top: 38px;
}

.channel_box {
  background-color: #2b2b34;
  border-radius: 20px;
  margin-top: 50px;
  width: 475px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

